<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">About</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="" role="main" tabindex="-1"
		aria-label="IBM WebSphere Portal">
		<div class="wpthemeInner">
			<!-- asa markup contributions for pages -->


			<div class="asa.page" id="asa.page" style="display: none;">
				<span class="asa.page.id">Z6_0246I882K03280Q8I6E6H92043</span>



			</div>

			<div class="wpthemeClear"></div>

			<div class="wpthemeInner">
				<div id="wpthemeStatusBarContainer"
					class="wpthemeStatusBarContainer">


					<noscript>
						<div class="wpthemeMessage" role="alert" wairole="alert">
							<img class="wpthemeMsgIcon wpthemeMsgIconError"
								src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"
								alt="Error" /> <span class="wpthemeAltText">Error:</span>
							<div class="wpthemeMessageBody">Javascript is disabled in
								this browser. This page requires Javascript. Modify your
								browser's settings to allow Javascript to execute. See your
								browser's documentation for specific instructions.</div>
						</div>
					</noscript>

				</div>
			</div>
		</div>

		<!-- required - do not remove -->
		<div style="display: none" id="portletState">{}</div>
		<div id="layoutContainers"
			class="wpthemeLayoutContainers wpthemeLayoutContainersHidden">
			<div class="wpthemeInner">
				<div class="hiddenWidgetsDiv">
					<!-- widgets in this container are hidden in the UI by default -->
					<div
						class="component-container wpthemeFull ibmDndRow wpthemeCol12of12 wpthemeRow hiddenWidgetsContainer id-Z7_6R0T4HIVUPO5S2QSF71SSBLJ94"
						name="ibmHiddenWidgets"></div>
					<div style="clear: both"></div>
				</div>
				<!-- this layout has one main container -->
				<div class="wptheme1Col">
					<div
						class="component-container wpthemeFull wpthemeLeft wpthemeCol ibmDndColumn wpthemeCol12of12 wpthemePrimary id-Z7_EAERBVRP4CFSKVIDAJTCHQ63I7"
						name="ibmMainContainer">
						<div class="component-control id-Z7_0246I882K03280Q8I6E6H92063">
							<span id="Z7_0246I882K03280Q8I6E6H92063"></span>
							<section
								class="ibmPortalControl wpthemeControl wpthemeHidden a11yRegionTarget"
								role="region" aria-label="About">




								<div class="asa.portlet"
									id="asa.portlet.Z7_0246I882K03280Q8I6E6H92063"
									style="display: none;">
									<span class="asa.portlet.id">Z7_0246I882K03280Q8I6E6H92063</span>



								</div>							

								<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear">
									<!-- lm:control dynamic spot injects markup of layout control -->
									<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
									<div style="position: relative; z-index: 1;">
										<div class="analytics.overlay"></div>
									</div>

									<h1>The new I-MED Online 2.0</h1>
									<div class="half-rule"></div>
									<img
										src="images/public/resource_banner.jpg"
										style="width: 100%;">
									<div style="padding-top: 10px; background-color: #fff"
										class="w-section">
										<div class="wrapper">
											<div class="intro-text">I-MED Online 2.0 is a new,
												improved patient image and reporting platform that makes it
												easier and faster to access the information you need. It
												means you can access patient images and reports where and
												when you need to, on tablet, mobile or desktop.</div>

											<div class="row w-row">
												<div class="w-col w-col-8">
													<h3>I-MED Online 2.0 for web and mobile:</h3>

													<ul class="list-unordered">
														<li class="list-item"><strong>I-MED Online
																2.0 for web and mobile</strong>
															<p>New I-MED Online 2.0 has an integrated App, so you
																can access patient images and reports anywhere, any
																time.</p></li>
														<li class="list-item"><strong>Image and
																report viewing on one page</strong>
															<p>The desktop version allows you to view images and
																report simultaneously, avoiding the need to switch
																between screens.</p></li>
														<li class="list-item"><strong>No need to
																download software </strong>
															<p>Once you've created an account, no other software
																is needed.</p></li>
														<li class="list-item"><strong>Improved
																viewing speeds</strong>
															<p>With the new 2.0, viewing images and reports is
																much quicker.</p></li>
														<li class="list-item"><strong>Filter and
																customise</strong>
															<p>You can choose how to arrange your 'Results' page
																to your own preference, e.g. alphabetical, date,
																modality etc.</p></li>
														<li class="list-item"><strong>'Breaking
																glass' now much simpler</strong>
															<p>I-MED Online 2.0 has a new, streamlined process
																when you need to access images and reports of patients
																other than your own.</p></li>
														<li class="list-item"><strong>Secure search
																and storage</strong>
															<p>I-MED Online 2.0 complies with Australian privacy
																and data storage legislation. It allows you to browse
																images and reports within a secure network with auditing
																and tracking ability.</p></li>
														<li class="list-item"><strong>I-MED support
																is at hand</strong>
															<p>With dedicated Chat support and phone and email
																support as well, you'll have all the support you need to
																get set up with I-MED Online 2.0.</p></li>
													</ul>

												</div>
												<div class="imagepanel w-col w-col-4">
													<img
														src="images/public/imed_online_2_0_side_banner.jpg"
														style="width: 80%;">
												</div>
											</div>
										</div>
										<!--wrapper 1-->

										<div style="margin-top: 10px; text-align: center;"
											class="goapply_one">
											<div class="bg-gray">
												<a class="button-primary feedback w-inline-block"
													th:href="@{/apply}">
													<div class="button-primary-text">CREATE ACCOUNT</div>
												</a>
											</div>
										</div>

										<style>
.wrapper-card .text-tag {
	font-size: 15px;
}

.goapply_one, div.bg-gray {
	background-color: #283555;
}

.goapply_one a.button-primary {
	margin-bottom: 15px;
	margin-top: 15px;
	line-height: 35px;
	width: 400px;
	font-size: 20px;
	height: auto;
}

.goapply_one .w-col-6 {
	text-align: center;
}
</style>
										<div class="colour-light-grey section w-section">
											<div class="wrapper" style="padding-top: 10px;">
												<h2 style="margin-top: 10px;">The I-MED Online 2.0 App - a whole new way to view!</h2>
												<div class="profiles row w-row">
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/phone_filter.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		The App 'Filter' allows you to search by patient, and
																		sort by alpha, date or time period.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>

													</div>
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/phone_orders.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		Access all patient reports and images linked to you.
																		Refine your search using the 'Filter' icon.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>

													</div>

													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/report_detail.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		Use the 'Action' button then the 'Arrow' button to
																		click through an image series.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div style="overflow: hidden;" class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/report_detail_scroll.jpg"
																		alt="" title="">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">Scroll through images, use
																		two finger "pinch" to zoom or shrink screen, and two
																		fingers to drag image around screen.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- gray bg-->

										<div class="wrapper">
											<div class="row w-row">
												<div class="w-col w-col-12">
													<h3>I-MED Online 2.0 - Your questions answered</h3>
													<div style="margin-top: 5px;" class="wrapper-accordion">
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> I already have an I-MED
																Online/InteleViewer/MIA Direct account. Do I need to
																create a new one? </a>
															<div class="accordion-answer hide">
																<p>Yes you do. The new I-MED Online 2.0 is a
																	completely new platform with an integrated App. This
																	requires all our users to create a new account. (You
																	can re-use your current user name and password if you
																	want to.)</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Why can't I use the
																Practice's group or generic (ie practice@...) email
																address to create an account? </a>
															<div class="accordion-answer hide">
																<p>In order to comply with Australian privacy
																	legislation, and I-MED's legal obligations concerning
																	patient information and health records, each I-MED
																	Online 2.0 user must have a unique email address. This
																	ensures secure access and provides tracking and audit
																	capability. In addition, having a unique email address
																	allows you to update your settings (i.e. create new
																	password) and manage your account if you need to.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> I use InteleViewer. Can I
																still use it with the new I-MED Online 2.0? </a>
															<div class="accordion-answer hide">
																<p>Yes you can. With I-MED Online 2.0, you can use
																	either the built-in image viewer or you can view images
																	via InteleViewer. We would recommend that
																	practitioners' use the same user name for I-MED Online
																	2.0 as they do for InteleViewer.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Can I use the App without
																creating a new account? </a>
															<div class="accordion-answer hide">
																<p>You can download the App at any time, but it
																	won't let you log on until you have created an I-MED
																	Online 2.0 account. This is because we must verify each
																	user's credentials before they can use the App.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Do I need to download new
																software? </a>
															<div class="accordion-answer hide">
																<p>No, there is no need to download any software or
																	controllers. Once you have your I-MED Online 2.0 log-in
																	details, you've got the App, you'll be able to view
																	images and reports both on your desktop or on any
																	mobile device.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> How do I "break glass"
																with I-MED Online 2.0? </a>
															<div class="accordion-answer hide">
																<p>When you're using I-MED Online 2.0 on the
																	desktop, the "break glass" function is now much
																	simpler. Patient ID is no longer required - just search
																	by patient name and date of birth, and click on the
																	padlock to "break glass". There is no "break glass"
																	function on the App.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Why should I upgrade to
																2.0 when my current system (I-MED Online/MIA
																Direct/InteleViewer) is working fine? </a>
															<div class="accordion-answer hide">
																<p>The new I-MED Online 2.0 offers enhanced features
																	and improvements, especially in terms of ease of access
																	and compliance with Australian privacy legislation. And
																	the agility of the new App makes I-MED Online 2.0 an
																	even more useful resource tool for practitioners.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Will the App work on
																Android devices? </a>
															<div class="accordion-answer hide">
																<p>Yes, the new App is designed for both iOS and
																	Android.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> Which browser should I
																use? </a>
															<div class="accordion-answer hide">
																<p>I-MED recommends the Chrome browser for optimal
																	performance.</p>
															</div>
														</div>
														<div class="accordion">
															<img class="image-accordion"
																src="images/public/icon-open.svg"
																width="30"> <a class="link-accordion"
																href="javascript:void()"> What happens once I create
																an account in I-MED Online 2.0? </a>
															<div class="accordion-answer hide">
																<p>Once you've created your account, we'll send you
																	a confirmation email with your verified user name
																	(often on the same day, but no later than the next
																	business day). You will then be able to log on and
																	start accessing patient images and reports - both on
																	your desktop and through the App. (Please note: there
																	may be a slight delay the first time the image viewer
																	is launched within the App).</p>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
										<!-- wrapper 3-->

										<div style="margin-top: 10px; text-align: center;"
											class="goapply_one">
											<div class="bg-gray">
												<a class="button-primary feedback w-inline-block"
													th:href="@{/apply}">
													<div class="button-primary-text">CREATE ACCOUNT</div>
												</a>
											</div>
										</div>

										<div class="on-center">
											<h3>Created an account?* Now get the App!</h3>
											<p class="on-center">(*Remember, to use the App you will
												need to have received your verified user name.)</p>
											<a href="javascript:void(0)"
												onclick="window.open('https://itunes.apple.com/us/app/i-med-online/id1323846438?ls=1&amp;mt=8');"><img
												src="images/public/download_app_store.png"
												style="width: 200px;"></a> <a href="javascript:void(0)"
												onclick="window.open('http://play.google.com/store/apps/details?id=au.com.imed.app');"><img
												src="images/public/download_google_play.png"
												style="width: 200px;"></a>
										</div>

									</div>

									<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].onclick = function(){
        this.classList.toggle("active");
        if (this.getElementsByTagName("img")[0].src.indexOf('icon-open') > -1) this.getElementsByTagName("img")[0].src = 'images/public/icon-close.svg';
            else this.getElementsByTagName("img")[0].src = 'images/public/icon-open.svg';
        var divs = this.getElementsByTagName("div");
        Array.prototype.map.call(divs, function (x) { x.classList.toggle("show"); x.classList.toggle("hide");})
    }
}
</script>
									<style>
.existing-tooltip {
	position: relative;
	display: inline-block;
}

.existing-tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #888;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

.existing-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
</style>





















									<div class="wpthemeClear"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="wpthemeClear"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>