<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">I-MED Online 2.0 | For medical practitioners | Create Account</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header"></div>
	
	<div class="blue-alert-bar">This page is for medical practitioners only.<br/>If you are a patient, please visit <a href="https://myi-med.com.au">myi-med.com.au</a> to access your reports and images.</div>
	<div class="colour-light-grey section">
    <div class="wrapper">
      <h1>Medical practitioners registration for access to I-MED clinical imaging</h1>
			<div th:if="${errorMsg}" th:text="'Error: ' + ${errorMsg}" class="alert alert-danger" role="alert">    
				Error: Unexpected problem occurred.
			</div>
      <!-- <div th:if="${successMsg}" class="alert alert-success" role="alert"> 
      	Thank you for registering for I-MED Online 2.0! Your application will be processed within one business day. You will receive and email confirmation with your username once complete. Note: You may need to check your junk folder for the email. If you do not receive your email within 2 days please contact your local CRM (Find service <a href="javascript:void(0);" onclick="window.open('https://i-med.com.au/doctors/referrer-support');">here</a>).
      </div> -->
      
      <div th:if="${successMsg}" id="succsessMsgDialog" class="ref-portal-instant-dialog-overlay">
		    <div class="ref-portal-instant-dialog intro-text" style="height:40%;">
	        <div>
	        	<h3>Thank you for registering for I-MED Online 2.0.</h3>
	        	Account applications generally take one business day to process. Shortly after, you'll receive a welcome email.<br/>
	        	If you do not receive your email within two days please contact your local Customer Relationship Manager(CRM). To locate your CRM click <a href="javascript:void(0);" onclick="window.open('https://i-med.com.au/doctors/referrer-support');">here</a>.<br/><br/>
	        	Note: You may need to check your junk folder for the email.
	        </div>
	        <div style="margin-top:20px;">    
	        	<button class="btn btn-warning btn-block" onclick="$('#succsessMsgDialog').hide();">Close</button>
	        </div>
		    </div>
			</div>

			<div class="row w-row">
				<div class="col-1-2 col-1-2-padding-left w-col w-col-6 col-centre">	
					<link rel="stylesheet" th:href="@{/js/public/apply/dist/styles.css}">
					<crtact-root th:postUrl="@{/apply}" th:emailUrl="@{/referreraccount/isEmailAvailable}" 
						th:emailPortalUrl="@{/referreraccount/isEmailAvailablePortal}" 
						th:uidUrl="@{/referreraccount/isUidAvailable}" 
						th:ahpraUrl="@{/referreraccount/isAhpraAvailable}"></crtact-root>
					<script type="text/javascript" th:src="@{/js/public/apply/dist/runtime.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/apply/dist/es2015-polyfills.js}" nomodule></script>
					<script type="text/javascript" th:src="@{/js/public/apply/dist/polyfills.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/apply/dist/main.js}"></script>
				</div>
			</div>
		</div>
	</div>
	 
	<div th:replace="fragments/layout/footer :: footer"></div>
</body>
</html>