<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">Editor</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="section">
		<h1>Editor</h1>
		<div class="half-rule"></div>
		<div class="wrapper">
			<div class="list-group">
				<a th:href="@{/editor/dbmanager}" class="list-group-item">DB Manager</a><br/>
				<a th:href="@{/editor/crmmanager}" class="list-group-item">CRM Manager</a><br/>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>