<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">E-Referral Download</title>
</head>
<body>

	<div th:replace="fragments/layout/simpleheader :: simpleheader"></div>
	
	<div class="section">

		<div class="wrapper">
			<h2 th:if="${status=='error'}">Your passcode does not match. Please try again.</h2>
			<h1 th:if="${status=='invalid'}">URL is invalid or expired.</h1>
			<div th:if="${status=='normal' || status=='error'}">
				<h2 th:if="${secretmode=='referrer'}">Please enter the Provide Number your provided when completing the request to download e-referral.</h2>
				<h2 th:if="${secretmode=='patient'}">Please enter your date of birth to download e-referral.</h2>
				<form name="f" th:action="@{/electronicreferraldownload}" th:object="${fmodel}" method="post">  
					<input th:field="*{passcode}" class="field-text w-input" placeholder="Your Passcode" type="text" />
					<input th:field="*{secret}" name="secret" type="hidden"/>
          <div class="form-actions">
          	<button type="submit" class="link-info button-primary w-button full-width">Download</button>
          </div>
				</form>		
				<ul style="color:#3a3a3a;">
					<li>Your email link is valid for 1 year only.</li>
					<li>You have three attempts to successfully enter the passcode.</li>
				</ul>
			</div>
		</div>

	</div>

	<div th:replace="fragments/layout/footer :: footer"></div>
</body>
</html>