<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">E-Referral</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header"></div>
	
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDosWPVMcgfCn57Ui0Ip52air8v9oozHx4&sensor=false&libraries=places"></script>
	
	<div class="section">
		<div class="wrapper">
			<link rel="stylesheet" th:href="@{/js/public/electronicreferral/dist/styles.css}">
			<div th:url="@{/}" id="electronicreferralapiroot"></div>
			<div sec:authorize="isAuthenticated()" id="electronicreferralauth"></div>
			<elecrefal-root></elecrefal-root>
			<script type="text/javascript" th:src="@{/js/public/electronicreferral/dist/runtime.js}"></script>
			<script type="text/javascript" th:src="@{/js/public/electronicreferral/dist/es2015-polyfills.js}" nomodule></script>
			<script type="text/javascript" th:src="@{/js/public/electronicreferral/dist/polyfills.js}"></script>
			<script type="text/javascript" th:src="@{/js/public/electronicreferral/dist/main.js}"></script>
		</div>
	</div>
	 
	<div th:replace="fragments/layout/footer :: footer"></div>
</body>
</html>