<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">Update Password</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header"></div>
	
	<div class="colour-light-grey section">
    <div class="wrapper">
    	<h2 th:if="${status=='invalid'}">Invalid Access</h2>
      <h1 th:if="${status=='normal'}">Update Your Password</h1>
      <p th:if="${status=='normal'}" class="intro-text">Please specify your new password. Please also input some information to authenticate.</p>

			<div th:if="${status=='normal'}" class="row w-row">
				<div class="col-1-2 col-1-2-padding-left w-col w-col-6 col-centre">	
					<link rel="stylesheet" th:href="@{/js/public/forceresetpassword/dist/styles.css}">
					<frcrstpwd-root th:secret="${secret}" th:loginUrl="@{/login}"></frcrstpwd-root>
					<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/runtime.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/es2015-polyfills.js}" nomodule></script>
					<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/polyfills.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/main.js}"></script>
				</div>
			</div>
		</div>
	</div>
	 
	<div th:replace="fragments/layout/footer :: footer"></div>
</body>
</html>