<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
	<title id="pageTitle">I-MED Online 2.0 | For medical practitioners | Home</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>
	
	<div class="section wpthemeControlBody wpthemeOverflowAuto wpthemeClear">
		<!-- lm:control dynamic spot injects markup of layout control -->
		<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position: relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>

		<h1></h1>
		<div class="colour-light-grey section" style="padding-top: 0px;">
			<div class="wrapper">
				<h1>I-MED Online 2.0 for medical practitioners</h1>
				<div class="half-rule"></div>
				<div class="intro-text">Welcome to I-MED Online 2.0, where
					practitioners can quickly and easily access patient images and
					reports, on desktop, tablet or mobile. From this page practitioners
					can also order referral pads and ask for technical support.</div>
				<div class="row w-row">
					<div class="col-1-2 col-1-2-padding-left w-col w-col-6">
						<a class="w-inline-block wrapper-card" data-ix="hover-profile"							
							style="transition: color 0.2s ease 0s, transform 100ms ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px);" th:href="@{/results}">
							<img src="images/public/Image-card-network_new.jpg">
							<div class="link-index">Results - access patient images and reports</div>
							<p>I-MED Online 2.0 gives practitioners access to diagnostic images and reports via desktop and mobile. We are progressively rolling out I-MED Online 2.0 across the country.</p>
						</a>
					</div>
					<div class="col-1-2 col-1-2-padding-left w-col w-col-6">
						<a class="w-inline-block wrapper-card" data-ix="hover-profile"	
							th:href="@{/login}"			
							style="transition: color 0.2s ease 0s, transform 100ms ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px);">
							<img src="images/public/ereferral.jpg">
							<div class="link-index">Request imaging via our online e-Referral</div>
							<p>Our easy-to-use online imaging request is available to our I-MED Online 2.0 users. It is simple to use, compatible with desktop, mobile and tablet.</p>
						</a>
					</div>
				</div>
				<div class="row w-row">
					<div class="col-1-2 col-1-2-padding-right w-col w-col-6">
						<a class="w-inline-block wrapper-card" data-ix="hover-profile"
							onclick="window.open('https://www.i-med.com.au/resources/e-referrals');"
							href="javascript:void(0);"
							style="transition: color 0.2s ease 0s, transform 100ms ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px);">
							<img src="images/public/telehealth.jpg">
							<div class="link-index">e-Referrals for better patient outcomes</div>
							<p>Send us your imaging requests electronically and securely, via HealthLink, from within your Best Practice software. We'll contact your patient to make an appointment.</p>
						</a>
					</div>
					<div class="col-1-2 col-1-2-padding-right w-col w-col-6">
						<a class="w-inline-block wrapper-card" data-ix="hover-profile"
							
							style="transition: color 0.2s ease 0s, transform 100ms ease 0s; transform: translateX(0px) translateY(0px) translateZ(0px);" th:href="@{/support}">
							<img src="images/public/serviceman.jpg">
							<div class="link-index">Support</div>
							<p>Should you need support with the new E-Referral, with I-MED Online 2.0 or any other issue, help is at hand. Our support team is here to assist by phone, chat or email.</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="wpthemeClear"></div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>