<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">Results</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="section">
		<link rel="stylesheet" th:href="@{/js/auth/hospital/dist/styles.css}">
		<div th:url="@{/}" id="hospitalaccesstag"></div>
		<hosal-root></hosal-root>
		<script type="text/javascript" th:src="@{/js/auth/hospital/dist/runtime.js}"></script>
		<script type="text/javascript" th:src="@{/js/auth/hospital/dist/es2015-polyfills.js}" nomodule></script>
		<script type="text/javascript" th:src="@{/js/auth/hospital/dist/polyfills.js}"></script>
		<script type="text/javascript" th:src="@{/js/auth/hospital/dist/main.js}"></script>
	</div>
	
	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>