<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">Installer guides </title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="" role="main" tabindex="-1"
		aria-label="IBM WebSphere Portal">
		<div class="wpthemeInner">



		<div id="layoutContainers"
			class="wpthemeLayoutContainers wpthemeLayoutContainersHidden">
			<div class="wpthemeInner">
				<div class="hiddenWidgetsDiv">
					<!-- widgets in this container are hidden in the UI by default -->
					<div
						class="component-container wpthemeFull ibmDndRow wpthemeCol12of12 wpthemeRow hiddenWidgetsContainer id-Z7_6R0T4HIVUPO5S2QSF71SSBLJ94"
						name="ibmHiddenWidgets"></div>
					<div style="clear: both"></div>
				</div>
				<!-- this layout has one main container -->
				<div class="wptheme1Col">
					<div
						class="component-container wpthemeFull wpthemeLeft wpthemeCol ibmDndColumn wpthemeCol12of12 wpthemePrimary id-Z7_EAERBVRP4CFSKVIDAJTCHQ63I7"
						name="ibmMainContainer">
						<div class="component-control id-Z7_0246I882K03280Q8I6E6H92063">
							<span id="Z7_0246I882K03280Q8I6E6H92063"></span>
							<section
								class="ibmPortalControl wpthemeControl wpthemeHidden a11yRegionTarget"
								role="region" aria-label="About">


					

								<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear">
				
									<h1>Installer guides</h1>
									<div class="half-rule"></div>
									
										<style>
.wrapper-card .text-tag {
	font-size: 15px;
}

.goapply_one, div.bg-gray {
	background-color: #283555;
}

.goapply_one a.button-primary {
	margin-bottom: 15px;
	margin-top: 15px;
	line-height: 35px;
	width: 400px;
	font-size: 20px;
	height: auto;
}

.goapply_one .w-col-6 {
	text-align: center;
}
</style>
										<div class="colour-light-grey section w-section">
											<div class="wrapper" style="padding-top: 10px;">
												<div class="profiles row w-row">
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/phone_filter.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		The App 'Filter' allows you to search by patient, and
																		sort by alpha, date or time period.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>

													</div>
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/phone_orders.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		Access all patient reports and images linked to you.
																		Refine your search using the 'Filter' icon.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>

													</div>

													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/report_detail.jpg">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">
																		Use the 'Action' button then the 'Arrow' button to
																		click through an image series.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div
														class="col-1-4 w-col w-col-3 w-col-medium-6 w-col-small-6 ng-scope">
														<div style="overflow: hidden;" class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img
																		src="images/public/report_detail_scroll.jpg"
																		alt="" title="">
																</div>
																<div class="hr wrapper-profile">
																	<div class="text-tag">Scroll through images, use
																		two finger "pinch" to zoom or shrink screen, and two
																		fingers to drag image around screen.</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- gray bg-->

										
										<!-- wrapper 3-->

				

				

									</div>


									<style>
.existing-tooltip {
	position: relative;
	display: inline-block;
}

.existing-tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #888;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

.existing-tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
</style>





















									<div class="wpthemeClear"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
				<div class="wpthemeClear"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>