<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout/head :: head">
    <title id="pageTitle">Install Support</title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header"></div>
	
	<div class="colour-light-grey section">
    <div class="wrapper">
      <h1>Arrange for e-Referral installation support</h1>
      <p class="intro-text">
      Please complete the fields below and submit. We'll be in touch to arrange an appointment.
      </p>
      
			<div class="row w-row">
				<div class="col-1-2 col-1-2-padding-left w-col w-col-6 col-centre">	
					<link rel="stylesheet" th:href="@{/js/public/installsupport/dist/styles.css}">
					<instsuprt-root></instsuprt-root>
					<script type="text/javascript" th:src="@{/js/public/installsupport/dist/runtime.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/installsupport/dist/es2015-polyfills.js}" nomodule></script>
					<script type="text/javascript" th:src="@{/js/public/installsupport/dist/polyfills.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/installsupport/dist/main.js}"></script>
				</div>
			</div>
		</div>
	</div>
	 
	<div th:replace="fragments/layout/footer :: footer"></div>
</body>
</html>