<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">Installer guides </title>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="" role="main" tabindex="-1"
		aria-label="IBM WebSphere Portal">
		<div class="wpthemeInner">



		<div id="layoutContainers"
			class="wpthemeLayoutContainers wpthemeLayoutContainersHidden">
			<div class="wpthemeInner">
				<div class="hiddenWidgetsDiv">
					<!-- widgets in this container are hidden in the UI by default -->
					<div
						class="component-container wpthemeFull ibmDndRow wpthemeCol12of12 wpthemeRow hiddenWidgetsContainer id-Z7_6R0T4HIVUPO5S2QSF71SSBLJ94"
						name="ibmHiddenWidgets"></div>
					<div style="clear: both"></div>
				</div>
				<!-- this layout has one main container -->
				<div class="wptheme1Col">
					<div
						class="component-container wpthemeFull wpthemeLeft wpthemeCol ibmDndColumn wpthemeCol12of12 wpthemePrimary id-Z7_EAERBVRP4CFSKVIDAJTCHQ63I7"
						name="ibmMainContainer">
						<div class="component-control id-Z7_0246I882K03280Q8I6E6H92063">
							<span id="Z7_0246I882K03280Q8I6E6H92063"></span>
							<section
								class="ibmPortalControl wpthemeControl wpthemeHidden a11yRegionTarget"
								role="region" aria-label="About">


					

								<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear">
				
									<h1>Installer guides</h1>
									<div class="half-rule"></div>
									
										<style>
.wrapper-card .text-tag {
	font-size: 15px;
}

.goapply_one, div.bg-gray {
	background-color: #283555;
}

.goapply_one a.button-primary {
	margin-bottom: 15px;
	margin-top: 15px;
	line-height: 35px;
	width: 400px;
	font-size: 20px;
	height: auto;
}

.goapply_one .w-col-6 {
	text-align: center;
}
</style>
										<div style="padding-top:15px;" class="colour-light-grey section w-section">
											<div class="wrapper" style="padding-top: 10px;">
												<div class="profiles row w-row">
													<div
														class="col-1-4 w-col w-col-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img th:src="@{images/public/personlaptop.jpg}">
																</div>
																<div class="hr wrapper-profile">
																	<h3 class="link-info" style="color: #004f9a;">Installers for downloading InteleViewer</h3>
																	<a href="https://connections.i-medonline.com.au/images/imo/InteleViewer_App_Userguide.pdf" target="_blank" class="link-info link-underline">InteleViewer App User Guide (PDF)</a>
																	<a href="https://connections.i-medonline.com.au/images/imo/IMED Online install guide.pdf" target="_blank" class="link-info link-underline">Windows Installation Guide</a>
																	<a href="https://connections.i-medonline.com.au/images/imo/InteleViewer 64-Bit.zip" target="_blank" class="link-info link-underline">Windows 64-bit Bundle</a>
																	<a href="https://connections.i-medonline.com.au/images/imo/MAC_Download_Instructions.pdf" target="_blank" class="link-info link-underline">Mac Download Instructions (PDF)</a>
																	<a href="https://connections.i-medonline.com.au/images/imo/RIL+I-MED+Online+Mac+instructions+combined.pdf" target="_blank" class="link-info link-underline">MAC Instructions (PDF)</a>
																	<a href="https://pacs.ril.com.au/InteleViewer-tracks/enterprise/macosx/InteleViewer.dmg" target="_blank" class="link-info link-underline">MAC Installer (ZIP 31MB)</a>
																	<div class="text-tag">
																	</div>
																</div>
															</div>
														</div>

													</div>
													<div
														class="col-1-4 w-col w-col-6 ng-scope">
														<div class="hr wrapper-card">
															<div class="profile-image-wrapper">
																<div class="profile-container">
																	<img th:src="@{images/public/docipad.jpg}">
																</div>
																<div class="hr wrapper-profile">
																	<h3><a th:href="@{/apply}" class="link-info link-underline">Create an I-MED Online account</a></h3>
																	<div class="text-tag">
																		Don't have an account? Register now for I-MED Online here, for easy and fast access to reports and images.<br>&nbsp;<br>
																	</div>
																</div>
															</div>
														</div>

													</div>

												</div>
											</div>
										</div>
										<!-- gray bg-->

									</div>


									<div class="wpthemeClear"></div>
								</div>
							</section>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>