<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">My CRM</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="top-bottom-space">
		<div class="wrapper">
			<img
				src="images/public/CRM_Group_Photo.jpg">
			<h1>My Customer Relationship Manager</h1>
			<div class="half-rule"></div>
			<p class="intro-text">At I-MED we recognise that our referring
				practitioners depend on us, day in and day out, for our
				state-of-the-art radiology services, reports and imaging. Every
				referring practitioner across the network has access to one of our
				team of Customer Relationship Managers (CRMs). Our CRMs are
				dedicated to providing knowledge and support to ensure an excellent
				service delivery.</p>
		</div>

		<div>
			<div class="row w-row">
				<div class="w-col w-col-4"></div>
				<div class="w-col w-col-4">
					<!-- <iframe src="https://connections.i-medonline.com.au/images/mycrm"
						frameborder="0" height="1200px" style="width: 100%; border: 0px;"></iframe>  -->
					<link rel="stylesheet" th:href="@{/js/public/mycrm/dist/styles.css}">
				  <dbmycrm-root></dbmycrm-root>
					<script type="text/javascript" th:src="@{/js/public/mycrm/dist/runtime.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/mycrm/dist/es2015-polyfills.js}" nomodule></script>
					<script type="text/javascript" th:src="@{/js/public/mycrm/dist/polyfills.js}"></script>
					<script type="text/javascript" th:src="@{/js/public/mycrm/dist/main.js}"></script>				
				</div>
				<div class="w-col w-col-4"></div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>