<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">About</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear privacy-stmt-space">
		<!-- lm:control dynamic spot injects markup of layout control -->
		<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position: relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>
		<h1>Privacy Policy</h1>
		<div class="wrapper">
			<div class="row w-row">
				<!-- help-section class added for custom heading style -->
				<!-- <div class="w-col w-col-6 col-centre help-section"> -->
				<style>
ul {
	color: #5e5e5e;
}

.contain .clearfix {
	color: #5e5e5e;
}
</style>
				<p dir="ltr">
					<span>This Privacy Statement sets out how the I-MED Group,
						including I-MED Network Limited and its associated entities
						(collectively I-MED), collects, uses, discloses and otherwise
						handles and retains personal information (including sensitive
						(health) information) in accordance with our obligations under the
						Privacy Act 1988 (Privacy Act) and other relevant State/Territory
						health privacy legislation.</span>
				</p>

				<p dir="ltr">
					<br> This Privacy Statement also applies to personal
					information that we collect and hold about referring Health
					Professionals (and their nominees), Medical Specialists and
					hospital staff (and their nominees), other health service
					providers, individuals who supply goods and services to I-MED,
					employment applicants and other individuals that we have dealings
					with.
				</p>

				<p dir="ltr">&nbsp;</p>

				<p dir="ltr">
					<strong>Why we collect and hold your personal information</strong><br>
					<br> I-MED collects and retains personal information
					(including sensitive (health) information) in order to provide:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>quality medical imaging services, assist in the provision
						of medical care to patients and prospective patients; and</li>
					<li>patient-related services to referring Health Professionals
						and/or other health service providers and their respective
						nominees.</li>
				</ul>

				<p dir="ltr">
					Personal information is also collected from, and about, employment
					applicants and held by I-MED for employment-related purposes and
					other individuals with whom we have business dealings.<br> <br>
					Generally, we collect personal information directly from you,
					however, we will also collect information about you from third
					parties, including from your referring Health Professional and/or
					Medical Specialist.<br> <br> <strong>The kinds
						of personal information we collect and hold</strong><br> <br> The
					main categories of personal information collected and held by I-MED
					include:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>name;</li>
					<li>address;</li>
					<li>phone number(s);</li>
					<li>email address;</li>
					<li>date of birth; and</li>
					<li>gender.</li>
				</ul>

				<p dir="ltr">I-MED also collects and holds sensitive (health)
					information from others in the course of providing health services
					to you including but not limited to:</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>the results of any tests or procedures;</li>
					<li>information about your past clinical history (eg
						medication taken, previous test results, pathology results, etc)
						and other circumstances (including family, social, medical or
						employment history);</li>
					<li>information provided by your referring Health Professional
						and/or Medical Specialist that is necessary in the context of your
						treatment;</li>
					<li>information provided by other third parties (such as from
						a family member, authorised representative, or from an Allied
						Health Professional (such as from a physiotherapist, chiropractor,
						osteopath, podiatrist, dentist, nurse, etc));</li>
					<li>payment and administrative information (such as your
						Medicare number and other individual health identifiers, Workers
						Compensation insurance, Transport Accident Compensation, private
						health insurance or billing details);</li>
					<li>information required or authorised under an Australian law
						or a court/tribunal order; and/or</li>
					<li>any other information collected directly from you
						(including verbally) when you attend our clinics/offices, write to
						or call us or through our websites.</li>
				</ul>

				<p dir="ltr">If you choose not to provide your personal
					information (including sensitive (health) information) to I-MED, we
					may be unable to provide you with the services you request.</p>

				<p dir="ltr">&nbsp;</p>

				<p dir="ltr">
					<strong>How we use your personal information</strong><br> <br>
					I-MED will use your personal information (including sensitive
					(health) information) for the purposes of:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>making an assessment of your health status</li>
					<li>providing a specialist medical report about your health to
						your referring Health Professional and/or Medical Specialist or to
						third parties (such as to a family member, authorised
						representative, or Allied Health Professional, etc);</li>
					<li>providing your treatment and ongoing health care (unless
						you have notified us otherwise);</li>
					<li>providing internal administrative services (such as
						billing and collection of any outstanding debts);</li>
					<li>sending out appointment reminders;</li>
					<li>notifying relevant organisations (such as medical defence
						organisations, insurance companies and/or legal advisors) of an
						incident/accident when a claim of medical malpractice has been
						alleged;</li>
					<li>ongoing research of specific cases for the continuing
						education of professional personnel (all information is
						de-identified prior to use);</li>
					<li>quality assurance activities, practice accreditation,
						customer satisfaction surveys, market research/statistical
						analysis, providing medical imaging information and complaint
						handling;</li>
					<li>assessing and/or sourcing candidates for employment and
						processing their applications; and/or</li>
					<li>responding to messages/enquiries you submit through our
						websites.</li>
				</ul>

				<p dir="ltr">
					<strong>Disclosure of your personal information</strong><br> <br>
					I-MED does not sell or disclose personal information (including
					sensitive (health) information) about our patients to drug
					companies or other health organisations/persons who are not
					involved in your medical care.<br> <br> I-MED will
					sometimes need to use and disclose personal information (including
					sensitive (health) information) about you where it is reasonably
					necessary and relevant in the context of your treatment to
					organisations outside of I-MED for medical, ethical, insurance,
					legal and/or procedural reasons. These organisations may include:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>your referring Health Professional, nominees of your
						referring Health Professional (for example employees and other
						Health Professionals in your referring Health Professional's
						clinic) and any 'copied to' Health Professional;</li>
					<li>consultant Medical Specialists or other registered Health
						Professionals who inform us are involved in your ongoing health
						care outside of I-MED and who have been requested to provide
						further advice on your medical condition or to assist in
						responding to enquiries submitted through our websites;</li>
					<li>hospital medical staff;<br> • registered Health
						Professionals granted access to I-MED's secure web-based
						password-protected Referrer Portal (see below);
					</li>
					<li>local and offshore contractors whom we have partnered
						with, under strict confidentiality and privacy requirements,
						including those that relate to cross-border disclosure, to provide
						services to our business operations;</li>
					<li>your representative(s) (eg a guardian, carer,
						translator/intermediary and/or authorised representative (such as
						a family member or legal advisor));</li>
					<li>health services or enforcement bodies in situations where
						I-MED is informed that there is a serious threat to life, health
						or safety;</li>
					<li>insurers (such as Medicare, Workers Compensation insurer,
						Transport Accident insurer or your private health fund) for the
						purpose of benefits payable or other third parties for
						billing/accounting purposes;</li>
					<li>our professional advisors (such as auditors and legal
						advisors);</li>
					<li>government and regulatory authorities and other
						organisations, as required or authorised by or under an Australian
						law; and/or</li>
					<li>I-MED's associated entities (as that term is defined in
						the Corporations Act 2001 (Cth)) within our corporate group
						structure.</li>
				</ul>

				<p dir="ltr">
					You can contact the I-MED Privacy Officer (Company Secretary) if
					you have any questions around the disclosure of your personal
					information, including information about the disclosure of personal
					information to offshore contractors and the countries in which our
					contractors are located.<br> <br> I-MED will de-identify
					personal information (including sensitive (health) information)
					about you for use and disclosure of that de-identified information
					to organisations outside of I-MED for the purposes of analysing our
					service quality and timeliness. De-identified personal information
					(including sensitive (health) information) may also be used
					internally for educational purposes.<br> <br> <strong>Direct
						marketing</strong><br> <br> We will seek your consent to our use
					of your personal information for direct marketing or market
					research purposes. With this consent, I-MED or authorised third
					party companies may contact you for the purposes of I-MED's quality
					assurance activities, customer satisfaction surveys, market
					research or for providing medical imaging information. You may also
					be contacted by I-MED for the compilation or analysis of statistics
					comprised of, or related to, the health information that you
					provide to us. When we contact you it may be via mail, phone, email
					or SMS. Communications with you will include details for how you
					can 'opt-out' from these communications.<br> <br> You
					can, however, contact the I-MED Privacy Officer (Company
					Secretary), per contact details below, at any time if you do not
					wish to be contacted for direct marketing or market research
					purposes.<br> <br> If you request not to receive direct
					marketing or market research information, please note that we will
					still contact you to provide you with relevant information in
					respect of your ongoing health care. For example, we will continue
					to send you relevant statements, invoices, reminders, notices, etc.
				</p>

				<p dir="ltr">&nbsp;</p>

				<p dir="ltr">
					<strong>Accuracy of your personal information</strong><br> <br>
					I-MED endeavours to ensure that the personal information (including
					sensitive (health) information) we collect, use and disclose is
					accurate, up-to-date and complete. The accuracy and completeness of
					that information depends on the information you provide to us. We
					recommend that you:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>tell us if there are any errors in the information we
						hold; and</li>
					<li>inform us of any changes to your information (such as your
						name, address or Medicare number).</li>
				</ul>

				<p dir="ltr">
					<strong>Access to and correction of your information</strong><br>
					<br> The best way to obtain your results is in consultation
					with your referring Health Professional, so that they can interpret
					the results and explain them to you in the context of your health
					care. Your imaging findings are only one aspect of your health
					assessment. Your referring Health Professional is in the best
					position to discuss the imaging results and balance it with your
					other examination findings and other health test results.<br>
					<br> You may, however, request access to personal information
					we hold about you. In some instances, charges may apply for the
					reproduction of results or images (if available). We will inform
					you of any costs before they are incurred. In some circumstances
					your request may be denied for specific legal reasons as set out in
					the Privacy Act, including if the request is vexatious or if a
					criminal investigation is under way.<br> <br> You may
					also request that we correct the personal information we hold about
					you if you consider it to be inaccurate, out-of-date, incomplete,
					irrelevant or misleading.<br> <br> You may request access
					to, and/or correction of, your personal information by contacting
					the local I-MED clinic where your information is held. In order to
					maintain the security of your personal information, confirmation of
					your personal details, as well as date of last visit and type of
					test taken, will generally be required before copies of information
					will be supplied.<br> <br> If your access or correction
					request is denied, a reason will be given to you (except if it is
					unreasonable to do so) and we will inform you of the mechanisms
					available to complain about the refusal (see Complaints section
					below).<br> <br> In certain locations, I-MED provides a
					confidential film delivery service. This service may be provided by
					our own staff, commercial couriers, taxis or post. If this is
					unacceptable to you, please arrange with our staff to collect your
					own films. If you intend to have another person collect your films
					on your behalf, you must provide written consent to this
					collection, including the name of the person collecting your films.<br>
					<br> <strong>Data security</strong><br> <br> All
					reasonable steps are taken to protect your personal information
					(including sensitive (health) information) within I-MED from
					misuse, interference and loss, and from unauthorised access,
					modification or disclosure. Records are held securely for future
					retrieval in accordance with applicable regulatory and legislative
					requirements and good business practice. If I-MED no longer needs,
					or is required, to retain information, I-MED will take reasonable
					steps in the circumstances to destroy the information or will
					ensure that the information is de-identified.<br> <br>
					I-MED is subject to strict obligations under State and Territory
					laws as to the retention of health information and records.
					Generally, as a minimum, we retain health information as follows:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>in the case of health information collected while an
						individual was an adult - for 7 years from the last occasion we
						provided health services to the individual; or</li>
					<li>in the case of health information collected while an
						individual was under the age of 18 years - until the individual
						turns 25.</li>
				</ul>

				<p dir="ltr">
					<strong>Our approach to privacy</strong><br> <br> I-MED
					will protect your privacy by:
				</p>

				<ul dir="ltr" style="margin-left: 40px;">
					<li>only obtaining information about your health, as is
						necessary for health purposes, in accordance with this Privacy
						Statement or with your consent;</li>
					<li>keeping your health information secure;</li>
					<li>giving you reasonable access to the information we have
						concerning you;</li>
					<li>not disclosing this information outside the organisation
						without your consent or otherwise contrary to this Privacy
						Statement, except where legally authorised or required to do so;</li>
					<li>allowing you to withdraw your consent at any stage;</li>
					<li>providing you with a simple complaints mechanism for
						complaints relating to privacy issues;</li>
					<li>ensuring a process for working with the Office of the
						Australian Privacy Commissioner to resolve any complaints that
						cannot be resolved directly with you;</li>
					<li>providing written procedures and instructions for staff to
						ensure that privacy processes are adhered to;</li>
					<li>ensuring I-MED's external (including offshore) contractors
						comply with the Privacy Act and other relevant laws; and</li>
					<li>continuing to review and improve our privacy practices.</li>
				</ul>

				<p dir="ltr">
					<strong>Online access by registered Health Professionals
						to your medical images and reports</strong><br> <br> I-MED
					provides a secure web-based password-protected Referrer Portal for
					registered Health Professionals and hospital medical staff to
					access patient images and reports. Your personal information
					(including sensitive (health) information) (such as images and
					reports) may be made available through this portal. Users of this
					service are subject to an obligation to collect health information
					with your consent and, in many cases, are bound by codes of
					practice that deal with obligations of professional confidentiality
					relevant to their profession.<br> <br> Health
					Professionals will apply to I-MED for a username and password in
					order to access this service. Before a Health Professional is
					granted online access they must accept the terms set out in a User
					Access Agreement stating that the information is required in order
					to provide a medical service and that it will not otherwise be used
					or knowingly shared or disclosed. Our systems trace, record and
					store indefinitely all access activity on every patient file.<br>
					<br> Your personal information (including sensitive (health)
					information) will be accessible online via the Referrer Portal to
					your Health Professional, who I-MED records show is involved in
					your care (eg to your family doctor or specialist). With your
					express consent, or the express consent of another person acting
					for you (such as a parent acting for a child), or in situations
					where I-MED is informed that there is a serious threat to life,
					health or safety, we may also provide access to other Health
					Professionals. You may also elect to give express consent to I-MED
					providing access to your personal information (including sensitive
					(health) information) (such as images and reports) to Medical
					Specialists or hospital medical staff generally.<br> <br>
					<strong>Complaints</strong><br> <br> You can complain
					about how we have treated your personal information or privacy
					generally. Please send your complaint to the <strong>I-MED
						Privacy Officer at the address below</strong>. Alternatively, you can
					complete a Privacy Complaint Form online via our website at<br>
					<a href="http://i-med.com.au/privacy">i-med.com.au/privacy</a>. The
					complaint will be investigated and a response will be sent to you
					as quickly as possible (generally within 30 days of receipt of the
					complaint). If you are dissatisfied with the response, you can
					refer the matter to the Office of the Australian Privacy
					Commissioner.
				</p>

				<p dir="ltr">&nbsp;</p>

				<div class="contain clearfix" dir="ltr">
					<div class="clearfix" id="content">
						<div class="link-margin">
							<strong>Your privacy is important to I-MED.</strong><br> <br>
							I-MED Network Limited<br> Attention: Privacy Officer
							(Company Secretary)<br> GPO Box 514, Sydney NSW 2001<br>
							Phone: (02) 8274 1000<br> Fax: (02) 8274 1077<br>
							Email: <a href="mailto:privacy@i-med.com.au">privacy@i-med.com.au</a><br>
							<br> 2014 Privacy Statement - effective <strong>12
								March 2014</strong>. From time to time we make changes to our policy,
							processes and systems in relation to how we handle your personal
							information. Please visit our website<br> <a
								href="http://i-med.com.au/about-us-radiology-medical-imaging/your-privacy"
								target="_blank">https://i-med.com.au/about-us-radiology-medical-imaging/your-privacy</a>
							to obtain a copy of the latest version of this Privacy Statement
							at any time.
						</div>
					</div>
					<!-- End Content -->
				</div>

				<!-- </div> -->
			</div>
		</div>
		<div class="wpthemeClear"></div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>