<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">Support</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="section wpthemeControlBody wpthemeOverflowAuto wpthemeClear">
		<!-- lm:control dynamic spot injects markup of layout control -->
		<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position: relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>

		<h1>Support</h1>
		<div class="half-rule"></div>
		<img
			src="images/public/support_banner.png"
			style="width: 100%;">
		<div class="section colour-white">
			<div class="wrapper">

				<div style="background-color: #fff; margin-top: 20px;"
					class="intro-text">I-MED Online 2.0 is designed to give referring practitioners quick and easy access to patient reports. However, if you should have any issues accessing your I-MED Online 2.0, we have plenty of support at hand.</div>
				<h3>Support for I-MED Online 2.0 users:</h3>
				<style>
.support-ui {
	margin-left: 10px;
}

.support-ui li {
	font-size: 28px;
}

.support-ui li span {
	font-size: 20px;
}
</style>
				<ul class="support-ui list-unordered">
					<li class="list-item"><span>1300 147 852 telephone
							support (weekday business hours)</span></li>
					<li class="list-item"><span>Desktop Online Chat
							(weekday business hours). See button in right hand bottom corner</span>
					</li>
					<li class="list-item"><span>Email: <a
							href="mailto:referrer@i-med.com.au">referrer@i-med.com.au</a>
							(weekday business hours)
					</span></li>
				</ul>
				<h3>Frequently Asked Questions</h3>
				<div style="margin-top: 2px" class="wrapper-accordion">
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> Once I've created my account, how
							do I access I-MED Online 2.0? </a>
						<div class="accordion-answer hide">
							<p>Once you've submitted your new account request, we'll send you your verified user name, usually the same day or the next business day. You can then access I-MED Online 2.0 from your computer (desktop or laptop). If you save the address to your favourites/bookmarks you can be logged on in seconds.</p>
						</div>
					</div>
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> How do I log out of I-MED Online
							2.0? </a>
						<div class="accordion-answer hide">
							<p>To log out, simply click on the "Log Out" link in the top
								right hand corner of your screen. It is recommended for security
								reasons that you log out when you have completed your
								examination. Please note the system has an automatic 'log out'
								after four hours.</p>
						</div>
					</div>
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> Where do I manage my contact
							details? </a>
						<div class="accordion-answer hide">
							<p>Under the 'My Account' link in the main menu. If you need
								to update your contact details, you can do this here.</p>
						</div>
					</div>
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> How do I change my password? </a>
						<div class="accordion-answer hide">
							<p>To change your password, click on the "My Account" link in
								the main menu, select Password "Edit" and follow the prompts.</p>
						</div>
					</div>
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> How do I "break glass" with I-MED
							Online 2.0? </a>
						<div class="accordion-answer hide">
							<p>On desktop, the "break glass" function is much simpler
								with I-MED Online 2.0. Patient ID is no longer required - just
								search by patient name and date of birth, and click on the
								padlock to "break glass".</p>
						</div>
					</div>
					<div class="accordion">
						<img class="image-accordion"
							src="images/public/icon-open.svg"
							width="30"> <a class="link-accordion"
							href="javascript:void()"> How do I create a 'short cut' for
							I-MED Online 2.0 on my desktop? </a>
						<div class="accordion-answer hide">
							<p>To bookmark I-MED Online 2.0, 'Bookmark' or 'Favourite'
								the I-MED Online 2.0 URL (https://i-medonline.com.au). The
								address will then be saved in your internet browser. Then select
								the 'Bookmark' or 'Favourite' and drag it onto the desktop to
								create a 'short-cut'.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
			var acc = document.getElementsByClassName("accordion");
			var i;

			for (i = 0; i < acc.length; i++) {
				acc[i].onclick = function() {
					this.classList.toggle("active");
					if (this.getElementsByTagName("img")[0].src
							.indexOf('icon-open') > -1)
						this.getElementsByTagName("img")[0].src = 'images/public/icon-close.svg';
					else
						this.getElementsByTagName("img")[0].src = 'images/public/icon-open.svg';
					var divs = this.getElementsByTagName("div");
					Array.prototype.map.call(divs, function(x) {
						x.classList.toggle("show");
						x.classList.toggle("hide");
					})
				}
			}
		</script>
		<div class="wpthemeClear"></div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>