<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">About</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div class="wpthemeControlBody wpthemeOverflowAuto wpthemeClear top-bottom-space">
		<!-- lm:control dynamic spot injects markup of layout control -->
		<!-- asa.overlay marks the node that the AsaOverlayWidget will be placed in -->
		<div style="position: relative; z-index: 1;">
			<div class="analytics.overlay"></div>
		</div>
		<div class="section wrapper">
			<h1>Terms of Use</h1>
			<div class="half-rule"></div>
			<div class="row w-row">
				<!-- help-section class added for custom heading style -->
				<!-- <div class="w-col w-col-6 col-centre help-section"> -->
				<p class="Normal" style="margin-top: 0pt; line-height: 5pt;">
					<a name="graphic04"> </a> <a name="_GoBack"> </a> <span
						class="Normal__Char"
						style="font-family: 'Arial', 'Arial'; font-size: 11pt; line-height: 11pt;">
						<img src="" alt="" width="60%" height="auto" border=""
						style="display: block; margin-left: auto; margin-right: auto;"
						title="">
					</span>
				</p>
				<p class="Normal">
					<a name="graphic05"> </a> <span class="Normal__Char"
						style="font-family: 'Arial', 'Arial';"> <img src="" alt=""
						width="300" height="auto" border=""
						style="display: block; margin-left: auto; margin-right: auto;"
						title="">
					</span>
				</p>
				<p class="Normal">&nbsp;</p>
				<p class="Normal" style="margin-top: 0pt;">&nbsp;</p>
				<p class="Normal" style="line-height: 10pt;">
					<span class="Normal__Char"
						style="font-family: 'Arial', 'Arial'; font-size: 11pt; line-height: 11pt; color: #1F497D;">I am a registered health practitioner.</span>
				</p>
				<p class="Normal">&nbsp;</p>
				<p class="Normal" style="line-height: 10pt;">
					<span class="Normal__Char"
						style="font-family: 'Arial', 'Arial'; font-size: 11pt; line-height: 11pt; color: #1F497D;">By
						applying to access I-MED Online I acknowledge and agree to the
						following terms and conditions of access and use: </span>
				</p>
				<p class="Normal">&nbsp;</p>
				<ul class="tnc">
					<li><span>I will access a patient's records through
							I-MED Online for the sole purpose of providing health services to
							that patient ( <b>Purpose</b> ).
					</span></li>
					<li><span>I must not browse through or search any
							person's records or access records of any person who is not a
							patient to whom I am providing health services.</span></li>
					<li><span>Any images or other information copied or
							printed from I-MED Online, are health information and must only
							be copied or printed for the Purpose and will form part of the
							patient's confidential medical record.</span></li>
					<li><span>I will securely store my user name and
							password and keep it confidential at all times, including by not
							allowing any other person to know or access my user name and
							password. I will change my password regularly.</span></li>
					<li><span> I will take all reasonable steps to maintain
							the security and integrity of my information systems, recognising
							the importance of maintaining security relating to the I-MED
							Online database and ensuring that no other person can obtain
							access to I-MED Online.</span></li>
					<li><span>If I become aware of any actual or threatened
							breach of security relating to I-MED Online (including the loss
							or theft of my username and password), I will immediately notify
							I-MED Radiology Network Limited (ACN 093 625 346) ( <b>I-MED</b>
							) and I will take all steps reasonably required to assist I-MED
							to manage or mitigate any risks, including to patients, and to
							investigate or assist I-MED to investigate the threatened or
							actual breach.
					</span></li>
					<li><span>I will co-operate with any audit by I-MED or
							its agents of my access to the System.</span></li>
					<li><span>I have read and understood and agree to
							comply with, at all times, these Terms of Acceptance and <a
							href="https://www.i-med.com.au/wps/wcm/connect/i-med/76aabf02-e1e4-4638-bdde-d987470713b5/FINAL-Privacy-Statement.pdf?MOD=AJPERES&amp;CVID=lCbqiOV&amp;CVID=lCbqiOV&amp;CVID=lCbqiOV&amp;CVID=lypRjfN&amp;CVID=lypRjfN">I-MED's
								Privacy Statement</a> .
					</span></li>
					<li><span>I will comply with all privacy obligations
							under the <i>Privacy Act 1988</i> (Cth) and all other relevant
							privacy laws and codes, including professional codes relating to
							patients' privacy and confidentiality ( <b>Privacy Laws</b> ), in
							accessing, using, disclosing and storing information made
							available to me via I-MED Online.
					</span></li>
					<li><span>I will not submit, post, upload, email or
							otherwise send or transmit to I-MED Online anything that contains
							software viruses or any other computer code, files or programs
							designed to interrupt, harm, damage, destroy or limit the
							functionality of any computer software or hardware or equipment
							linked to I-MED Online.</span></li>
					<li><span>I will not interfere with I-MED Online or the
							servers or networks underlying or connected to I-MED Online.</span></li>
					<li><span>I-MED may revoke my access to I-MED Online at
							any time in the event of any breach, suspected or likely breach
							of these Terms of Acceptance or other terms and conditions
							notified to me from time to time.</span></li>
					<li><span>I am solely responsible for all costs
							associated with my use of I-MED Online including data costs
							charged to me by my Internet Service Provider as a result of
							using I-MED Online.</span></li>
				</ul>


				<p class="Normal" style="margin-top: 1pt;">&nbsp;</p>
				<p class="Normal" style="margin-left: 30%;">
					<a name="graphic06"> </a> <img src="" alt="" width="200"
						height="auto" border="" title="">
				</p>
				<p class="Normal"
					style="margin-top: 4pt; margin-right: 5pt; text-align: right;">
					<span class="Normal__Char"
						style="font-family: 'Arial', 'Arial'; color: #1F497D;">September
						2017 </span>
				</p>
				<!-- </div> -->
			</div>
		</div>





















		<div class="wpthemeClear"></div>
	</div>
	</section>
	</div>
	</div>
	</div>
	<div class="wpthemeClear"></div>
	</div>

	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>