<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:include="fragments/layout/head :: head">
<title id="pageTitle">Terms of use</title>
</head>
</head>
<body>
	<div th:replace="fragments/layout/header :: header">...</div>

	<div id="termsofusediv" class="section wrapper">		
	</div>
	
	<script type="text/javascript" th:inline="javascript">
    $(document).ready(function () {
    	var restRoot = /*[[@{/imedvisage/v1}]]*/ "imedvisage/v1";
    	$("#termsofusediv").load(restRoot + "/terms");
		});
  </script>
	
	<div th:replace="fragments/layout/footer :: footer">...</div>
</body>
</html>