<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="head">
		<title th:include=":: #pageTitle">I-MED Online 2.0</title>
		<meta th:if="${desc}" name="description" th:content="${desc}">
 		<meta th:unless="${desc}" name="description" content="I-MED Online 2.0 is where medical practitioners can access their patients' radiology results on desktop, tablet or mobile.">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="frame-src data:"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    	
		<!-- CSRF default header name is X-CSRF-TOKEN -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
		<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    
   	<link th:href="@{/images/public/favicon.ico}" rel="shortcut icon" type="image/x-icon" />
<!--    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
   	<link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}" />
   	<link rel="stylesheet" th:href="@{/css/public/webflow.css}" />
   	<link rel="stylesheet" th:href="@{/css/public/imedwebflow.css}" />
   	<link rel="stylesheet" th:href="@{/css/public/imedmain.css}" />
   	
<!--    	<script -->
<!--  src="https://code.jquery.com/jquery-3.3.1.min.js" -->
<!--  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" -->
<!--  crossorigin="anonymous"></script> -->
		<script th:src="@{/js/public/jquery.min.js}"></script>
		<script th:src="@{/css/bootstrap/js/bootstrap.min.js}"></script>
<!--    	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
   	<script th:src="@{/js/public/webflow.js}"></script>
   	<script th:src="@{/js/public/imedmain.js}"></script>
    	
    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-70757528-8"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'UA-70757528-6');
		</script>    	
	</head>
</html>
