<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div class="footer section" th:fragment="resetonlogin">
		<link rel="stylesheet" th:href="@{/js/public/forceresetpassword/dist/styles.css}">
		<frcrstpwd-root th:redirectUrl="@{/results}"></frcrstpwd-root>
		<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/runtime.js}"></script>
		<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/es2015-polyfills.js}" nomodule></script>
		<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/polyfills.js}"></script>
		<script type="text/javascript" th:src="@{/js/public/forceresetpassword/dist/main.js}"></script>
	</div>
</body>
</html>